html {
    background: radial-gradient(circle, rgb(0, 0, 0) 46%, rgb(0, 0, 36) 100%);

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    font-size: 3rem;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 2%;
}

.addTodo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 20%;
}

#todo-form > * {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
    gap: 2%;
}

input {
    height: 2%;
}

h1 {
    font-size: 2rem;
}

#todos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.todo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    border: solid white 1px;
    margin: 5%;
}